section.content.hidden#collection-photos
  div.collection-info
    h1 Collection ID
    p Collection description
    
  
  div.error-block.hidden Произошла ошибка:
  ul.collection-photos-block
    
  a.button.button_blue_white.hidden#load_more GET MORE

  template.collection-photos-block__item_template
    li.collection-photos-block__item
      a(href = "#")
        img
