section.content.hidden#mainpage
  div.app-description
    h1 Unsplash API
    p Данный сайт представляет собой SPA-приложение, взаимодействующее с #[a(href = "https://unsplash.com/developers", target="_blank") Unsplash API]. Доступен просмотр списка коллекций, просмотр изображений выбранной коллекции и просмотр информации о конкретном фото.
    p В процессе разработки были использованы следующие пакеты / библиотеки:
    ul
      li Webpack (сборка бандла)
      li axios (взаимодействие с API, обработка ответов)
      li vanilla-router (пользовательский роутинг)
      li moment.js (формат даты)
      li express (для выдачи html из корня при любом запросе)
