section.content.hidden#photo
  div.photo-block
    div.photo-block__header
      h1 Photo
      div.error-block.hidden Произошла ошибка:
      p.photo-block__author Author: 
        span author
      p.photo-block__publish-date Publish Date: 
        span date
    div.photo-block__image
      img(src = "")
    div.photo-block__full-link
      div Views: 
        span 500
      a(href = "#", target = "_blank") full size 
        span (100x100)
