.content {
  @include flexible(column nowrap, center, center);
  margin-top: 4em;
  margin-bottom: 4em;
  width: 100vw;

  .error-block {
    padding: 1em 3em;
    color: #D24040;
    border: 1px solid #D24040;
    background: #F9DCDC;
    border-radius: 10px;
    margin-bottom: 1em;
  }

  .collection-info {
    width: 960px;
  }

  .collection-photos-block {
    @include flexible(row wrap, center, center);
    width: 960px;
    margin: 1em 0;
    padding: 0;
    list-style-type: none;

    .collection-photos-block__item {
      background: $color-dummy;
      height: 250px;
      // min-width: 300px;
      margin-bottom: 20px;
      margin-right: 20px;

      img {
        object-fit: cover;
        height: 100%;
      }
    }
  }

}
